@import "functions";
@import "variables";
@import "mixins";
@include fancy-links;

@for $i from 1 through 6 {
	.col-#{$i}{
		width: $i * 2em;
	}
}
$speakers:bob-banker, patty-plume, sandra-smith;
@each $speaker in $speakers {
	.#{$speaker}-profile{
		background-image: url(./img/#{$speaker}.png)
	}
}

$font-sizes: (tiny: 8px, small: 11px, medium: 13px, large: 18px);
@each $name, $size in $font-sizes{
	.#{$name}{
		font-size:$size;
	}
}

$j: 8;
@while $j >= 2 {
	.picture-#{$j}{
		width : $j * 10%;
	}
	$j: $j - 2;
}

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");
$contrast: normal; 
body { 
  font-family: $text-font;
  // background-color: $secondary-color;
  
  color: $text-color;
  font-size: em(18px);
  color: $text-color;
  background-color: $body-background-color;

  @include large-screens { 
  	font-size: 125%;
  	max-width: $content-width;
  }
}
.error{
	color: red;
}

.critical-error{ 
	@extend .error;
	bottom: 1px solid red;
	font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: $headline-font;
}
h2{
	@include large-text;
}
p {
  font-family: $text-font;
}

a {
	color: $link-color;
	@include blue-beans {
		color: red;
	}
	&:hover{
		color: darken($link-color, 15%);
	}
}

%highlight{
	font-style: italic;
}

.sub-title{
	@extend %highlight;
	@extend .foo !optional;
	font-size: em(20px);
}

.warning-button{
	@include warning;
	padding: 8px 12px;
}
.cta-button{
	@extend .warning-button;
	@extend .error;
	@include rounded;
	font-weight: bold;
}
.super-cta-button{
	@extend .cta-button;
	font-size: em(20px);
}
#header { 
	@include box($border:1px solid rgba(255,255,255,.4));
	@include box-shadow(2px 0px 4px rgba(0,0,0,.5), 1px 1px 6px $secondary-color);
	height: $header-height;
	background-color: $theme-color;
  #main-menu {
	li{
		display: inline;
	}
	a{
		color: $menu-item-color;
		padding: 6px 8px;
		border-bottom: 1px solid transparentize(#fefefe, 1);
		transition: border-bottom .5s;
		transition-timing-function: ease-in-out;

		&:hover{
			border-bottom: 1px solid opacify(#fefefe, .5);
		}
	}
  }
  
  #logo {

  }
}

#main {
	width: $content-width;
	@media only screen and (max-width: 960px){
		width: auto;
		max-width: $content-width;
	}
	margin-left: auto;
	margin-right: auto;
  #content {
  	float: left;
  	width:6*$col;
  }

  #sidebar {
  	float: right;
  	width: 2*$col;

  	li{
  		list-style: none;
  		padding: em(16px) em(20px);
  		border-bottom:1px dashed #999;
  		&:hover{
  			background-color: #efefef;
  		};
  	}
  }
}

#footer {
	height: $footer-height;
	background-color: $ternery-color;
	clear: both;
	@include rogers-rovers {
		background-color: #ccc;
	}
}
