@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
a {
  font-style: italic;
  text-decoration: none; }

.col-1 {
  width: 2em; }

.col-2 {
  width: 4em; }

.col-3 {
  width: 6em; }

.col-4 {
  width: 8em; }

.col-5 {
  width: 10em; }

.col-6 {
  width: 12em; }

.bob-banker-profile {
  background-image: url(./img/bob-banker.png); }

.patty-plume-profile {
  background-image: url(./img/patty-plume.png); }

.sandra-smith-profile {
  background-image: url(./img/sandra-smith.png); }

.tiny {
  font-size: 8px; }

.small {
  font-size: 11px; }

.medium {
  font-size: 13px; }

.large {
  font-size: 18px; }

.picture-8 {
  width: 80%; }

.picture-6 {
  width: 60%; }

.picture-4 {
  width: 40%; }

.picture-2 {
  width: 20%; }

body {
  font-family: "Alegreya Sans";
  color: #fff;
  font-size: 1.125em;
  color: #fff;
  background-color: #34495e; }
  @media only screen and (width: 960px) {
    body {
      font-size: 125%;
      max-width: 960px; } }

.error, .critical-error, .cta-button, .super-cta-button {
  color: red; }

.critical-error {
  bottom: 1px solid red;
  font-weight: bold; }

h1, h2, h3, h4 {
  font-family: "Titillium Web", Georgia, Serif; }

h2 {
  font-size: 22px;
  font-weight: bold; }

p {
  font-family: "Alegreya Sans"; }

a {
  color: #2c3e50; }
  a:hover {
    color: #11181f; }

.sub-title {
  font-style: italic; }

.sub-title {
  font-size: 1.25em; }

.warning-button, .cta-button, .super-cta-button {
  background-color: orange;
  color: #fff;
  padding: 8px 12px; }
  .warning-button:hover, .cta-button:hover, .super-cta-button:hover {
    background-color: #ffb733; }

.cta-button, .super-cta-button {
  border-radius: 6px;
  font-weight: bold; }

.super-cta-button {
  font-size: 1.25em; }

#header {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5), 1px 1px 6px #2c3e50;
  -moz-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5), 1px 1px 6px #2c3e50;
  -webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5), 1px 1px 6px #2c3e50;
  height: 60px;
  background-color: #16a085; }
  #header #main-menu li {
    display: inline; }
  #header #main-menu a {
    color: white;
    padding: 6px 8px;
    border-bottom: 1px solid rgba(254, 254, 254, 0);
    transition: border-bottom .5s;
    transition-timing-function: ease-in-out; }
    #header #main-menu a:hover {
      border-bottom: 1px solid #fefefe; }

#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 960px) {
    #main {
      width: auto;
      max-width: 960px; } }
  #main #content {
    float: left;
    width: 69.75%; }
  #main #sidebar {
    float: right;
    width: 23.25%; }
    #main #sidebar li {
      list-style: none;
      padding: 1em 1.25em;
      border-bottom: 1px dashed #999; }
      #main #sidebar li:hover {
        background-color: #efefef; }

#footer {
  height: 90px;
  background-color: #698932;
  clear: both;
  background-color: #ccc; }

.flexBox {
  display: flex; }

.tutorContainer {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 4px;
  font-family: 'Montserrat', sans-serif; }
  .tutorContainer .tCard {
    width: 33.3333%;
    background-color: #fff;
    color: #333;
    margin-bottom: 4px;
    font-family: 'Montserrat', sans-serif; }
    .tutorContainer .tCard:nth-child(n) {
      width: calc(33.3333% - 4px);
      margin-right: 4px; }
    .tutorContainer .tCard:nth-child(3n+0) {
      width: 33.3333%;
      margin-right: 0px; }
    .tutorContainer .tCard .selectContainer {
      width: 100%; }
    .tutorContainer .tCard .cardWrapper {
      width: 100%;
      flex-direction: column; }
    .tutorContainer .tCard .cardLeft {
      width: 250px; }
    .tutorContainer .tCard .cardRight {
      width: calc(100% - 250px); }
    .tutorContainer .tCard .flexAlign {
      flex-direction: column;
      align-items: center; }
      .tutorContainer .tCard .flexAlign .userPhoto {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #f5f5f5;
        margin-top: 10px;
        margin-bottom: 10px; }
        .tutorContainer .tCard .flexAlign .userPhoto img {
          width: 100%; }
      .tutorContainer .tCard .flexAlign .stars {
        margin-bottom: 15px; }
      .tutorContainer .tCard .flexAlign h3 {
        font-size: 18px;
        color: #2196f3;
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-top: 10px;
        font-family: 'Montserrat', sans-serif; }
    .tutorContainer .tCard .buttonBottom {
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      margin-top: 10px;
      margin-bottom: 15px; }
      .tutorContainer .tCard .buttonBottom a {
        font-size: 14px; }
    .tutorContainer .tCard .cardContent p {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      margin: 0px;
      padding: 0px; }
      .tutorContainer .tCard .cardContent p span {
        font-weight: bold; }
      .tutorContainer .tCard .cardContent p:nth-child(1) {
        margin-bottom: 15px; }

/*# sourceMappingURL=main.css.map */
